.advantages {
  margin-bottom: 45px;
}

.advantages__wrap {
  .container;
}

.advantages__title {
  .title;
  margin-bottom: 32px;
}

.advantages__list {
  margin: 0;
  padding: 0;

  font-family: "Arial", sans-serif;
  list-style: none;
}

.advantages__item {
  position: relative;
  margin-bottom: 27px;
  padding-left: 80px;

  color: #444444;

  &::before {
    position: absolute;
    top: -3px;
    left: 0;
    width: 60px;
    height: 60px;
    content: "";
    background-color: @green;
    background-position: center;
    background-repeat: no-repeat;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-size: 83%;
    }
  }

  &--eco {
    &::before {
      background-image: url("../img/advantage-leaf@1x.png");

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/advantage-leaf@2x.png");
      }
    }
  }

  &--powder {
    &::before {
      background-image: url("../img/advantage-powder@1x.png");

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/advantage-powder@2x.png");
      }
    }
  }

  &--food {
    &::before {
      background-image: url("../img/advantage-dining@1x.png");

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/advantage-dining@2x.png");
      }
    }
  }

  &--time {
    &::before {
      background-image: url("../img/advantage-clock@1x.png");

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/advantage-clock@2x.png");
      }
    }
  }
}

@media (min-width: @tablet-width) {
  .advantages {
    margin-top: 46px;
    margin-bottom: 0;

    border-bottom: 1px solid #e6e6e6;
  }

  .advantages__wrap {
    padding-left: 31px;
  }

  .advantages__title {
    margin-bottom: 34px;
    font-size: @tablet-font-size;
  }

  .advantages__list {
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    counter-reset: li;
  }

  .advantages__item {
    width: 248px;
    margin-bottom: 44px;
    margin-top: 30px;
    padding: 120px 74px 50px 0;

    &::before {
      top: 7px;
      width: 80px;
      height: 80px;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-size: 62%;
      }
    }

    &::after {
      position: absolute;
      top: 98px;
      left: 115px;
      width: 135px;
      height: 234px;
      content: counter(li);
      counter-increment: li;
      font-family: "Oswald", "Arial", sans-serif;
      font-size: 281px;
      color: @grey-bg;
      z-index: -1;
    }
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    margin-top: 45px;
    border-bottom: none;
  }

  .advantages__wrap {
    padding-left: 40px;
    padding-right: 37px;
  }

  .advantages__list {
    margin-bottom: 0;
  }

  .advantages__item {
    margin-right: 77px;
    padding-right: 0;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
