.button {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  padding: 10px 10px 9px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
}

.button--green {
  color: @white;
  background-color: @green;

  &:hover,
  &:focus {
    background-color: @green-hover;
  }

  &:active {
    color: @white-active;
  }
}

.button--grey {
  color: @grey;
  background-color: @grey-bg;

  &:hover {
    background-color: @grey-bg-hover;
  }

  &:active {
    color: @grey-active;
  }
}

@media (min-width: @tablet-width) {
  .button {
    font-size: 16px;
    line-height: 20px;
  }
}
