.catalog__wrap {
  width  : 320px;
  margin : 0 auto;
  padding: 0 20px;

  box-sizing: border-box;
}

.catalog__title {
  .title;
}

.catalog__list {
  margin : 0;
  padding: 0;

  list-style: none;
}

.catalog__item {
  width        : 280px;
  padding      : 25px 0;
  border-bottom: 1px solid #e6e6e6;
}

@media (min-width: @tablet-width) {
  .catalog {
    margin-bottom: -70px;
  }

  .catalog__wrap {
    width  : @tablet-width;
    padding: 0 30px;
  }

  .catalog__list {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: space-between;
  }

  .catalog__item {
    width        : 324px;
    margin-bottom: 145px;
  }
}

@media (min-width: @desktop-width) {
  .catalog {
    width: -60px;
  }

  .catalog__wrap {
    width  : @desktop-width;
    padding: 0 40px;
  }

  .catalog__item {
    width: 245px;
  }
}
