.catalog__title {
  margin     : 0;
  font-size  : 36px;
  line-height: 60px;
  font-weight: 400;
}

.catalog__list {
  margin : 0;
  padding: 0;

  list-style: none;
}

.catalog__item {
  padding      : 25px 20px;
  border-bottom: 1px solid #e6e6e6;
}
