.catalog__wrap {
  .container;
  padding: 14px 0 3px;
}

.catalog__title {
  .title;
  margin: 0 20px 28px;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__item {
  width: 320px;

  border: 1px solid @border-catalog;
  border-top: none;

  &:first-child {
    border-top: 1px solid @border-catalog;
  }

  &:nth-child(3n) {
    padding-top: 9px;
  }
}

@media (min-width: @tablet-width) {
  .catalog {
    padding-top: 32px;
    margin-bottom: -100px;
  }

  .catalog__title {
    font-size: @tablet-font-size;
    margin: 0 0 164px;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
  }

  .catalog__item {
    width: 324px;
    margin-right: 60px;
    margin-bottom: 138px;

    border: none;

    &:nth-child(2n) {
      margin-right: -2px;
    }

    &:nth-child(3n) {
      padding-top: 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .catalog {
    margin-bottom: -98px;
    padding-top: 52px;
  }

  .catalog__title {
    margin-bottom: 164px;
  }

  .catalog__item {
    width: 245px;
    margin-right: 80px;
    margin-bottom: 141px;

    &:nth-child(2n) {
      margin-right: 80px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
