.checkbox-list {
  margin: -21px 0 0;
  padding-top: 28px;
}

.checkbox-list__option {
  position: relative;
  margin-bottom: 25px;
  padding-left: 46px;

  box-sizing: border-box;
}

.checkbox-list__input + label::before {
  position: absolute;
  top: -6px;
  left: 0;

  content: "";
  width: 28px;
  height: 28px;
  border: 1px solid @border;
}

.checkbox-list__input:checked + label::after {
  position: absolute;
  top: -1px;
  left: 5px;

  content: "";
  width: 19px;
  height: 10px;
  border: 2px solid @green;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
}

.checkbox-list__input:hover + label::before,
.checkbox-list__input:focus + label::before {
  border-color: @border-hover;
  outline: 1px solid @green;
  outline-offset: 2px;
}

.checkbox-list__input:active + label::before,
.checkbox-list__input:active + label::after {
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .checkbox-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-bottom: -45px;
    padding-top: 11px;
  }

  .checkbox-list__option {
    width: 286px;
    margin-bottom: 53px;
    padding-left: 57px;
  }

  .checkbox-list__input + label::before {
    width: 37px;
    height: 37px;

    top: -8px;
    left: 0;
  }

  .checkbox-list__input:checked + label::after {
    top: 2px;
    left: 10px;
  }
}

@media (min-width: @desktop-width) {
  .checkbox-list {
    margin-bottom: 20px;
    padding-top: 10px;
  }

  .checkbox-list__option {
    width: 245px;
    margin-right: 80px;
    margin-bottom: 20px;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
