.choice {
  margin-bottom: 31px;
  padding-top: 14px;

  overflow: hidden;
}

.choice__wrap {
  .container;
}

.choice__title {
  .title;
  margin: 0 0 25px;
}

.choice__text {
  width: 245px;
  margin: 0 0 21px;
  font-size: 14px;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .choice {
    padding-top: 34px;
    padding-bottom: 44px;
  }

  .choice__title {
    margin-bottom: 54px;
    margin-left: -2px;
    font-size: @tablet-font-size;
  }

  .choice__text {
    width: 340px;
    margin-left: 40px;
    margin-bottom: 48px;

    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .choice {
    padding-top: 53px;
    margin-bottom: 37px;
  }

  .choice__title {
    margin-left: 0;
  }

  .choice__text {
    margin-left: 0;
    margin-bottom: 56px;
  }
}
