.choice {
  padding: 30px 20px 35px;
}

.choice__title {
  margin: 0;

  font-size  : 36px;
  line-height: 60px;
  font-weight: 400;
}

.choice__text {
  font-size     : 16px;
  text-transform: uppercase;
}
