.example {
  padding-bottom: 40px;
  background-color: #f2f2f2;
}

.example__wrap {
  .container;
}

.example__title {
  .title;
  padding: 35px 0 40px;
}

.example__text {
  margin: 0;
}

@media (min-width: @tablet-width) {
  .example {
    padding-bottom: 0;
    background: linear-gradient(to bottom, #ffffff 69%, #f2f2f2 69%);
  }

  .example__title {
    font-size: @tablet-font-size;
    padding: 55px 0 70px;
  }

  .example__slider {
    margin: 0 auto;
    // background: linear-gradient(to right,#f2f2f2 50%, #eaeaea 50%) ;
  }
}

@media (min-width: @desktop-width) {
  .example {
    background: linear-gradient(to bottom, #ffffff 37%, #f2f2f2 37%);
  }

  .example__wrap {
    display: flex;
    flex-wrap: wrap;
  }

  .example__title {
    width: @desktop-width;
    padding: 65px 0 80px;
  }

  .example__text-wrap {
    width: 570px;
    margin: 0 40px 0 auto;
    padding: 75px 40px 65px 0;
    background-color: #f2f2f2;
    box-sizing: border-box;
  }

  .example__slider {
    width: 610px;
    margin: 0 auto 0 0;
  }
}
