.example {
  padding-top: 18px;
  padding-bottom: 35px;
  background-color: #f2f2f2;
}

.example__wrap {
  .container;
}

.example__text-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.example__title {
  .title;
  margin-bottom: 24px;
}

.example__text {
  width: 270px;
  margin: 0 0 26px;

  font-family: "Arial", sans-serif;
  color: #444444;
}

.example__box {
  display: flex;
  flex-direction: column;

  margin: 0;
}

.example__value {
  width: 124px;
  padding: 8px 0 16px;

  font-size: 24px;
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;

  border: 1px solid #cdcdcd;
  border-radius: 2px;
  border-bottom: transparent;
}

.example__field {
  display: flex;
  align-items: center;
  width: 92px;
  margin-top: -13px;

  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  text-align: center;

  &::before,
  &::after {
    content: "";

    flex-grow: 1;
    flex-shrink: 0;

    width: 20px;
    height: 1px;

    background: #cdcdcd;
  }

  &::before {
    margin-right: 15px;
  }

  &::after {
    margin-left: 15px;
  }
}

.example__info {
  margin: 19px auto 0;
  line-height: 20px;
  text-transform: uppercase;
}

.example__slider {
  margin-top: 35px;
}

@media (min-width: @tablet-width) {
  .example {
    padding-top: 47px;
    padding-bottom: 0;
    background: linear-gradient(to bottom, #ffffff 57%, #f2f2f2 57%);
  }

  .example__text-wrap {
    justify-content: stretch;
  }

  .example__title {
    font-size: @tablet-font-size;
    margin: 0 0 64px;
  }

  .example__text {
    width: 702px;
    margin-bottom: 53px;
  }

  .example__info {
    width: 192px;
    margin-top: 7px;

    font-size: 20px;
    line-height: 28px;
    text-align: right;
  }

  .example__box {
    margin: 0 41px 0 0;
  }

  .example__value {
    width: 159px;
    padding-top: 13px;

    font-size: 30px;
    line-height: 37px;
  }

  .example__field {
    width: 162px;
    margin-top: -3px;

    font-size: 14px;
    line-height: 14px;

    &::before {
      width: 7px;
      margin-right: 6px;
    }

    &::after {
      width: 7px;
      margin-left: 6px;
    }
  }

  .example__slider {
    margin: 79px auto 0;
    // background: linear-gradient(to right,#f2f2f2 50%, #eaeaea 50%) ;
  }
}

@media (min-width: @desktop-width) {
  .example {
    margin-top: 32px;
    padding-top: 0;
    background: linear-gradient(to bottom, #ffffff 22%, #f2f2f2 22%);
  }

  .example__wrap {
    display: flex;
    flex-wrap: wrap;
  }

  .example__title {
    width: @desktop-width;
    margin-bottom: 71px;
  }

  .example__text-wrap {
    width: 480px;
    margin: 0 90px 0 0;
    padding: 75px 40px 42px 0;
    background-color: #f2f2f2;
    box-sizing: border-box;
  }

  .example__text {
    width: 439px;
    margin-bottom: 31px;
  }

  .example__box {
    margin-top: 6px;
    margin-bottom: 9px;
  }

  .example__info {
    width: 325px;
    margin-top: 10px;
    margin-left: 0;

    text-align: left;
  }

  .example__slider {
    width: 610px;
    margin: 0 auto 0 0;
  }
}
