.extra-product-card__title {
  margin        : 0;
  font-size     : 16px;
  line-height   : 16px;
  font-weight   : 400;
  text-transform: uppercase;
}

.extra-product-card__info {
  line-height: 14px;
}

@media (min-width: @tablet-width) {
  .extra-product-card {
    padding: 28px 38px;
  }
}

@media (min-width: @desktop-width) {
  .extra-product-card {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    padding        : 15px 0;
  }

  .extra-product-card__button {
    width: auto;
  }
}
