.form {
  font-size     : 16px;
  text-transform: uppercase;
}

.form__block {
  margin-bottom: 25px;
}

.form__block-title {
  font-size  : 24px;
  line-height: 24px;
  font-weight: 400;
}

.form__block-list {
  margin : 0;
  padding: 0;

  list-style: none;
}

.form__text-field {
  font-size     : 16px;
  line-height   : 18px;
  font-weight   : 400;
  text-transform: uppercase;
  color         : #000000;
}
