.more-products {
  padding: 26px 20px 24px;
  text-align: center;

  box-sizing: border-box;
}

.more-products__img {
  margin-bottom: 21px;
  opacity: 0.2;
}

.more-products__show-more {
  margin: 0;
  padding-left: 2px;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.more-products__tastes {
  margin: 7px 0 13px;


  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.more-products__button {
  margin-top: 9px;
  padding-left: 12px;
}

@media (min-width: @tablet-width) {
  .more-products {
    width: 324px;
    padding: 55px 38px 38px;

    border: 1px solid @border-catalog;

    p {
      width: 179px;
      margin: 0 auto 26px;
    }
  }

  .more-products__img {
    width: 60px;
    margin-bottom: 45px;
  }

  .more-products__show-more {
    font-size: 20px;
    line-height: 20px;
  }

  .more-products__tastes {
    font-size: 16px;
    line-height: 18px;
  }

  .more-products__button {
    margin-top: 62px;
  }
}

@media (min-width: @desktop-width) {
  .more-products {
    width: 245px;

    p {
      width: 167px;
    }
  }

  .more-products__img {
    margin-bottom: 44px;
  }

  .more-products__show-more {
    margin-left: -1px;
  }

  .more-products__button {
    margin-top: 61px;
  }
}
