.page-footer {
  background-color: #f2f2f2;
}

.page-footer__wrap {
  width: 320px;
  margin: 0 auto;
  padding: 40px 20px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.page-footer__logo {
  padding-bottom: 30px;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__social {
  width: 280px;
  padding: 21px 0 18px;
  border-top: 1px solid rgba(68, 68, 68, 0.1);
  border-bottom: 1px solid rgba(68, 68, 68, 0.1);
}

.page-footer__copyright {
  width: 280px;
}

@media (min-width: @tablet-width) {
  .page-footer__wrap {
    width: @tablet-width;
    padding: 55px 25px 60px 32px;
    flex-direction: row;
  }

  .page-footer__logo {
    display: block;
    width: 162px;
    margin-right: auto;
    padding: 0;
  }

  .page-footer__social {
    width: 375px;
    margin-top: -3px;
    margin-left: auto;
    padding: 0;
    border: none;
  }

  .page-footer__copyright {
    display: flex;
    justify-content: flex-end;
    width: 162px;
    margin-left: auto;

    color: #444444;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrap {
    width: @desktop-width;
    padding: 54px 40px 55px;
  }

  .page-footer__logo {
    width: 245px;
  }

  .page-footer__social {
    width: 631px;
    margin: -7px auto 0;
  }

  .page-footer__copyright {
    width: 245px;
  }
}
