.page-header {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  padding: 10px 0 15px;
  box-sizing: border-box;
}

.page-header__logo {
  display: inline-block;
  vertical-align: middle;
  flex-shrink: 0;

  margin-left: 20px;
  height: 38px;
}

@media (min-width: @tablet-width) {
  .page-header {
    flex-direction: row;
    justify-content: space-between;
    width: @tablet-width;
    padding: 25px 30px;
  }

  .page-header__logo {
    height: 58px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    width: @desktop-width;
    padding: 55px 40px 20px;
  }
}
