.product-card {
  padding: 9px 19px 24px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.product-card__link {
  margin-top: -9px;
  margin-left: -1px;
}

.product-card__wrap {
  width: 140px;
  padding-top: 12px;
}

.product-card__header {
  width: 100px;
  margin: 0 0 14px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;

  a {
    color: @black;
  }
}

.product-card__table {
  width: 144px;
  margin-left: -1px;

  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 13px;
  font-weight: 400;
  color: @grey;
  border-spacing: 1px;

  th {
    font-weight: 400;
  }
}

.product-card__value {
  text-align: right;
}

.product-card__button {
  margin-top: -1px;
}

@media (min-width: @tablet-width) {
  .product-card {
    flex-direction: column;
    width: 324px;
    padding: 0;
    padding-bottom: 40px;
    background-color: @grey-bg;

    &:nth-child(2n) {
      .product-card__link {
        margin-top: -81px;
      }
    }
  }

  .product-card__link {
    display: block;

    width: 100%;
    margin: -46px auto 0;

    img {
      width: 100%;
    }
  }

  .product-card__wrap {
    width: 249px;
    margin-top: 32px;
    padding: 0 36px 0 39px;
  }

  .product-card__header {
    width: 159px;
    margin: 1px auto 20px;

    font-size: 20px;
    text-align: center;
  }

  .product-card__table {
    width: 100%;
    font-size: 16px;
    line-height: 21px;
    border-collapse: collapse;

    th {
      padding: 5px 0;
      border-bottom: 1px solid @border;
    }

    td {
      border-bottom: 1px solid @border;
    }
  }

  .product-card__button {
    max-width: 249px;
    margin: 34px auto 0;
  }
}

@media (min-width: @desktop-width) {
  .product-card {
    width: 245px;
    padding: 0 0 40px;
  }

  .product-card__wrap {
    width: 169px;
  }

  .product-card__button {
    max-width: 169px;
  }
}
