.product-card {
  padding: 9px 19px 24px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.product-card__link {
  margin-top: -8px;
}

.product-card__wrap {
  width: 140px;
  padding-top: 12px;
}

.product-card__header {
  width: 100px;
  margin: 0 0 13px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;

  a {
    color: #000000;
  }
}

.product-card__table {
  width: 143px;
  margin-left: -1px;

  font-family: "Arial";
  font-size: 12px;
  line-height: 13px;
  font-weight: 400;
  color: #444444;
  border-spacing: 1px;

  th {
    font-weight: 400;
  }
}

.product-card__value {
  text-align: right;
}

.product-card__button {
  margin-top: -5px;
}

@media (min-width: @tablet-width) {
  .product-card {
    flex-direction: column;
    width: 324px;
    padding: 40px 36px 40px 38px;
    background-color: #f2f2f2;
  }

  .product-card__link {
    margin: 0 auto 40px;

    img {
      margin-top: -70px;
    }
  }

  .product-card__wrap {
    width: 100%;
    padding: 0;
  }

  .product-card__header {
    width: 159px;
    margin: 1px auto 19px;

    font-size: 20px;
    text-align: center;
  }

  .product-card__table {
    width: 100%;
    font-size: 16px;
    line-height: 21px;
    border-collapse: collapse;

    th {
      padding: 5px 0;
      border-bottom: 1px solid #cdcdcd;
    }

    td {
      border-bottom: 1px solid #cdcdcd;
    }
  }

  .product-card__button {
    margin-top: 32px;
  }
}

@media (min-width: @desktop-width) {
  .product-card {
    width: 245px;
    padding: 40px 37px 40px 39px;
  }
}
