.promo {
  text-align: center;
  color: @white;

  background-image: url("../img/index-background-mobile@1x.jpg"), linear-gradient(to bottom, #65a93c 305px, #ffffff 305px);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 320px auto, 100%;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg"), linear-gradient(to bottom, #65a93c 305px, #ffffff 305px);
  }
}

.promo__wrapper {
  .container;
  position: relative;
  padding-bottom: 41px;
}

.promo__title {
  margin: 0;
  padding-top: 26px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.promo__tagline {
  margin: 26px 0 0;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.promo__img {
  display: block;
  margin-top: 29px;
}

.promo__button {
  position: absolute;
  width: 280px;
  padding-top: 11px;

  bottom: 0;
  left: 20px;

  font-size: 14px;
  line-height: 18px;
}

@media (min-width: @tablet-width) {
  .promo {
    padding-top: 34px;
    color: @black;
    text-align: left;
    background: none;
  }

  .promo__wrap {
    position: relative;
    width: 627px;
    margin-bottom: 0;
    padding: 0 87px;
    background: none;
  }

  .promo__title {
    width: 430px;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    padding-top: 0;
  }

  .promo__tagline {
    margin: 39px 0 50px;
    font-size: 20px;
    line-height: 20px;
  }

  .promo__img {
    width: 709px;
    margin: -78px auto -16px;
  }

  .promo__button {
    position: relative;
    width: 245px;
    padding: 15px 10px 16px;
    z-index: 2;

    left: 0;

    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: @desktop-width) {
  .promo {
    margin-bottom: 80px;
    padding-top: 222px;
    padding-bottom: 70px;

    background-image: url("../img/index-background-desktop@1x.jpg"), linear-gradient(to right, #ffffff 50%, #65a93c 50%);
    background-repeat: no-repeat;
    background-position: right bottom;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg"), linear-gradient(to right, #ffffff 50%, #65a93c 50%);
      background-size: 50% auto, 100%;
    }
  }

  .promo__wrapper {
    display: flex;
  }

  .promo__wrap {
    width: 490px;
    margin-right: -200px;
    padding: 0 80px;
  }

  .promo__tagline {
    margin-top: 41px;
    margin-bottom: 53px;
    padding-bottom: 0;
  }

  .promo__img {
    width: 552px;
    margin-top: -80px;
  }

  .promo__button {
    width: 245px;
    padding: 14px 10px 17px 8px;
    position: static;
  }
}
