.promo {
  text-align: center;
  color: #ffffff;

  background-image: url("../img/index-background-mobile@1x.jpg"), linear-gradient(to bottom, #65a93c 64%, #ffffff 64%);
  background-repeat: no-repeat;
  background-position: center top;
}

.promo__wrapper {
  .container;
  position: relative;
  padding-bottom: 43px;
}

.promo__title {
  margin: 0;
  padding-top: 27px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.promo__tagline {
  margin: 26px 0 0;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.promo__img {
  display: block;
  margin-top: 29px;
}

.promo__button {
  position: absolute;
  width: 280px;
  bottom: 0;
  left: 20px;
}

@media (min-width: @tablet-width) {
  .promo {
    padding-top: 38px;
    color: #111111;
    text-align: left;
    background: none;
  }

  .promo__wrap {
    position: relative;
    width: 430px;
    margin-bottom: 0;
    padding: 0 87px;
    background: none;
  }

  .promo__title {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    padding-top: 0;
  }

  .promo__tagline {
    margin: 41px 0 47px;
    font-size: 20px;
    line-height: 20px;
  }

  .promo__img {
    width: 709px;
    margin: -70px auto 0;
  }

  .promo__button {
    position: relative;
    width: 245px;
    padding: 15px 10px 16px;
    z-index: 2;

    left: 0;

    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: @desktop-width) {
  .promo {
    padding-top: 221px;
    margin-bottom: 80px;

    background-image: url("/img/index-background-desktop@1x.jpg"), linear-gradient(to right, #ffffff 50%, #65a93c 50%);
    background-repeat: no-repeat;
    background-position: right bottom;
  }

  .promo__wrapper {
    display: flex;
    padding-bottom: 39px;
  }

  .promo__wrap {
    width: 490px;
    padding: 0 80px;
  }

  .promo__tagline {
    margin-bottom: 55px;
    padding-bottom: 0;
  }

  .promo__img {
    width: 552px;
    margin-top: 0;
    margin-left: -156px;
  }

  .promo__button {
    width: 245px;
    padding: 14px 10px 17px 8px;
    position: static;
  }
}
