.slider__wrap {
  .container;
  padding: 0;
}

.slider__list {
  margin: 0;
  padding: 0 0 31px;
  list-style: none;
}

.slider__toggles {
  width: 285px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__toggle {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  background: transparent;
  border: none;

  &:hover,
  &:focus {
    span {
      border-bottom: 1px solid rgba(34, 34, 34, 0.4);
    }
  }

  &:active {
    span {
      border: none;
    }
  }
}

.slider__scale {
  position: relative;
  width: 83px;
  height: 13px;
  margin: 0 11px;

  border: 1px solid @border;
  border-radius: 7px;
  background-color: @white;
}

.slider__bar {
  position: absolute;
  top: 3px;
  left: 4px;

  width: 35px;
  height: 5px;

  border: 1px solid @border;
  background: @green;
  border-radius: 7px;
}

@media (min-width: @tablet-width) {
  .slider__wrap {
    padding-bottom: 73px;
  }

  .slider__list {
    padding-bottom: 18px;
  }

  .slider__toggles {
    width: 610px;
    margin-left: 16px;
  }

  .slider__scale {
    width: 428px;
    margin: 0 14px;
    height: 6px;
    border: none;
    background-color: @scale-example;
  }

  .slider__bar {
    top: -14px;
    left: 50%;
    margin-left: -13px;

    width: 8px;
    height: 8px;
    border: 13px solid @white;
    border-radius: 50%;

    box-shadow: 0 0 1px 1px @border, 0 2px 5px 0 rgba(0, 0, 0, 0.15);

    &:hover,
    &:focus {
      box-shadow: 0 0 1px 1px @border, 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active {
      box-shadow: 0 0 1px 2px @green, 0 4px 5px 0 rgba(0, 0, 0, 0.3);
    }
  }

  .slider__toggle {
    font-size: 20px;

    span {
      border-bottom: 1px dotted rgba(34, 34, 34, 0.23);
    }
  }
}

@media (min-width: @desktop-width) {
  .slider__wrap {
    width: 690px;
    padding-bottom: 74px;
  }

  .slider__list {
    padding-bottom: 21px;
  }

  .slider__toggles {
    margin-top: 20px;
    margin-left: 20px;
  }

  .slider__scale {
    margin: 0 14px;
  }

  .slider__bar {
    top: -13px;
    margin-left: -14px;
  }
}
