.title () {
  margin: 0;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}

.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;

  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    padding: 0 31px;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    padding: 0 40px;
  }
}
